In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
# read starbucks-menu-nutrition-drinks.csv with sep=','
df_drink = pd.read_csv('starbucks-menu-nutrition-drinks.csv', sep=',')

# read starbucks-menu-nutrition-foods.csv with sep=','
df_food = pd.read_csv('starbucks-menu-nutrition-food.csv', sep=',', encoding="utf-16")

In [45]:
df_drink

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10
...,...,...,...,...,...,...,...
172,Chocolate Smoothie,320,5,53,8,20,170
173,Strawberry Smoothie,300,2,60,7,16,130
174,Ginger Ale,-,-,-,-,-,-
175,Lemon Ale,-,-,-,-,-,-
176,Orange Cream Soda,-,-,-,-,-,-

In [46]:
df_food

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein (g)
0,Chonga Bagel,300,5.0,50,3,12
1,8-Grain Roll,380,6.0,70,7,10
2,Almond Croissant,410,22.0,45,3,10
3,Apple Fritter,460,23.0,56,2,7
4,Banana Nut Bread,420,22.0,52,2,6
...,...,...,...,...,...,...
108,Justin's Chocolate Hazelnut Butter,180,14.0,12,3,4
109,Justin's Classic Almond Butter,190,18.0,6,3,7
110,Lemon Chiffon Yogurt,340,13.0,38,0,18
111,Organic Avocado (Spread),90,8.0,5,4,1
112,Seasonal Fruit Blend,90,0.0,24,4,1

In [68]:
df_drink.drop(columns=["Sodium"], inplace=True)

/Users/janisfrolich/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [69]:
df_drink.replace("-", np.nan, inplace=True)

/Users/janisfrolich/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [70]:
df_drink.index = df_drink["Unnamed: 0"]

In [71]:
df_drink.drop(columns=["Unnamed: 0"], inplace=True)

/Users/janisfrolich/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [72]:
df_drink = df_drink.dropna(axis=0, how='all')

In [73]:
# index values of df_drink in new column
df_drink['Unnamed: 0'] = df_drink.index

In [74]:
# new index
df_drink.index = range(0, len(df_drink))

In [75]:
df_drink.rename(columns={"Protein": "Protein (g)"}, inplace=True)

In [76]:
df_food

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein (g)
0,Chonga Bagel,300,5.0,50,3,12
1,8-Grain Roll,380,6.0,70,7,10
2,Almond Croissant,410,22.0,45,3,10
3,Apple Fritter,460,23.0,56,2,7
4,Banana Nut Bread,420,22.0,52,2,6
...,...,...,...,...,...,...
108,Justin's Chocolate Hazelnut Butter,180,14.0,12,3,4
109,Justin's Classic Almond Butter,190,18.0,6,3,7
110,Lemon Chiffon Yogurt,340,13.0,38,0,18
111,Organic Avocado (Spread),90,8.0,5,4,1
112,Seasonal Fruit Blend,90,0.0,24,4,1

In [77]:
df_food.dtypes

Unnamed: 0       object
Calories          int64
 Fat (g)        float64
 Carb. (g)        int64
 Fiber (g)        int64
 Protein (g)      int64
dtype: object

In [78]:
df_drink.dtypes

Calories       object
Fat (g)        object
Carb. (g)      object
Fiber (g)      object
Protein (g)    object
Unnamed: 0     object
dtype: object

In [82]:
# change data type of columns Calories, Fat (g), Protein (g), Carbs (g) to float
df_drink[['Calories', 'Fat (g)', 'Protein (g)', 'Carb. (g)', 'Fiber (g)']] = df_drink[['Calories', 'Fat (g)', 'Protein (g)', 'Carb. (g)', 'Fiber (g)']].astype(float)

In [83]:
df_drink.dtypes

Calories       float64
Fat (g)        float64
Carb. (g)      float64
Fiber (g)      float64
Protein (g)    float64
Unnamed: 0      object
dtype: object

In [84]:
df_drink.describe()

         Calories    Fat (g)  Carb. (g)  Fiber (g)  Protein (g)
count   92.000000  92.000000  92.000000  92.000000    92.000000
mean   135.163043   2.336957  24.739130   0.445652     4.152174
std     93.853554   3.887928  15.214849   1.417040     5.691588
min      0.000000   0.000000   0.000000   0.000000     0.000000
25%     60.000000   0.000000  14.750000   0.000000     0.000000
50%    130.000000   0.000000  25.500000   0.000000     1.000000
75%    190.000000   4.125000  35.000000   0.000000     8.250000
max    430.000000  26.000000  64.000000   8.000000    20.000000