In [72]:
import json
import pandas as pd

In [74]:
df = pd.read_json("sample2.json", orient="index")

In [75]:
df

                                                              0
firstName                                                   Joe
lastName                                                Jackson
gender                                                     male
age                                                          28
address       [{'streetAddress': '101', 'city': 'San Diego',...
phoneNumbers         [{'type': 'home', 'number': '7349282382'}]

In [76]:
df_pivot = df.transpose()

In [77]:
df_pivot

,firstName,lastName,gender,age,address,phoneNumbers
0,Joe,Jackson,male,28,"[{'streetAddress': '101', 'city': 'San Diego',...","[{'type': 'home', 'number': '7349282382'}]"

In [78]:
for i in df_pivot["address"]:
    print(i[0])
    print(type(i[0]))
    all_keys = i[0].keys()

{'streetAddress': '101', 'city': 'San Diego', 'state': 'CA'}
<class 'dict'>

In [79]:
#Address in seperate columns
item = 0
keys = [i for i in all_keys]
for i in range(len(keys)):
    for i in df_pivot["address"][0]:
        df_pivot[keys[item]] = i.get(keys[item])
        item += 1
df_pivot=df_pivot.drop(columns="address")
print(df_pivot)

  firstName lastName gender age                                phoneNumbers  \
0       Joe  Jackson   male  28  [{'type': 'home', 'number': '7349282382'}]

  streetAddress       city state
0           101  San Diego    CA

In [80]:
#Phone number in seperate columns
for i in range(2):
    for n in df_pivot["phoneNumbers"][0]:
        phone_values = n.values()

values = [i for i in phone_values]
df_pivot = df_pivot.drop(columns="phoneNumbers")
df_pivot[values[0]] = values[1]

print(df_pivot)

  firstName lastName gender age streetAddress       city state        home
0       Joe  Jackson   male  28           101  San Diego    CA  7349282382