In [214]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [215]:
df_rat = pd.read_excel("Ratsmitglieder_1848_DE-1645541118.xlsx")

In [216]:
df_rat

,Active,FirstName,LastName,GenderAsString,CantonName,CantonAbbreviation,CouncilName,ParlGroupName,ParlGroupAbbreviation,PartyName,PartyAbbreviation,MaritalStatusText,BirthPlace_City,BirthPlace_Canton,Mandates,DateJoining,DateLeaving,Citizenship,DateOfBirth,DateOfDeath
0,False,Giuseppe,a Marca,m,Graubünden,GR,Ständerat,Mitte,MC,Konservative,Kons*,NaN,NaN,NaN,NaN,01.12.1849,01.07.1851,Soazza (GR),29.07.1799,16.07.1866
1,False,Alois,Ab Yberg,m,Schwyz,SZ,Nationalrat,Radikal-demokratische Fraktion,R,Freisinnig-Demokratische Partei der Schweiz,FDP,NaN,NaN,NaN,NaN,03.12.1928,01.12.1935,Schwyz (SZ),06.10.1878,17.10.1959
2,False,Fabio,Abate,m,Tessin,TI,Nationalrat,Freisinnig-demokratische Fraktion,RL,Freisinnig-Demokratische Partei der Schweiz,FDP,NaN,Locarno,Tessin,incarichi esecutivi presso il comune di Locarn...,03.12.2007,04.12.2011,Cabbio (TI),04.01.1966,NaN
3,False,Fabio,Abate,m,Tessin,TI,Nationalrat,Freisinnig-demokratische Fraktion,R,Freisinnig-Demokratische Partei der Schweiz,FDP,NaN,Locarno,Tessin,incarichi esecutivi presso il comune di Locarn...,25.09.2000,30.11.2003,Cabbio (TI),04.01.1966,NaN
4,False,Fabio,Abate,m,Tessin,TI,Ständerat,FDP-Liberale Fraktion,RL,FDP.Die Liberalen,FDP-Liberale,NaN,Locarno,Tessin,incarichi esecutivi presso il comune di Locarn...,05.12.2011,29.11.2015,Cabbio (TI),04.01.1966,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6425,False,Otto (senior),Zwygart,m,Bern,BE,Nationalrat,Demokratische und Evangelische Fraktion,DE,Evangelische Volkspartei der Schweiz,EVP,NaN,NaN,NaN,NaN,01.06.1971,27.11.1983,Meikirch (BE),30.05.1911,05.04.1986
6426,False,Otto,Zwygart,m,Bern,BE,Nationalrat,LdU/EVP-Fraktion,U,Evangelische Volkspartei der Schweiz,EVP,NaN,Schliern,Bern,Grosser Gemeinderat Bolligen von 1970 bis 1974...,28.11.1983,03.12.1995,"Bolligen (BE),Meikirch (BE)",16.01.1940,NaN
6427,False,Carl Sam.,Zyro,m,Bern,BE,Nationalrat,Linke,LG,Freisinnig-Demokratische Partei der Schweiz,FDP,NaN,NaN,NaN,NaN,03.12.1866,03.12.1893,Thun (BE),17.07.1834,26.08.1896
6428,False,Carl Sam.,Zyro,m,Bern,BE,Nationalrat,Linke,LG,Freisinnig-Demokratische Partei der Schweiz,FDP,NaN,NaN,NaN,NaN,03.12.1866,03.12.1893,Thun (BE),17.07.1834,26.08.1896
6429,False,Carl Sam.,Zyro,m,Bern,BE,Nationalrat,Linke,LG,Freisinnig-Demokratische Partei der Schweiz,FDP,NaN,NaN,NaN,NaN,03.12.1866,03.12.1893,Thun (BE),17.07.1834,26.08.1896

In [217]:
df_rat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6430 entries, 0 to 6429
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Active                 6430 non-null   bool
 1   FirstName              6430 non-null   object
 2   LastName               6430 non-null   object
 3   GenderAsString         6430 non-null   object
 4   CantonName             6428 non-null   object
 5   CantonAbbreviation     6428 non-null   object
 6   CouncilName            6425 non-null   object
 7   ParlGroupName          4952 non-null   object
 8   ParlGroupAbbreviation  4952 non-null   object
 9   PartyName              6352 non-null   object
 10  PartyAbbreviation      6350 non-null   object
 11  MaritalStatusText      240 non-null    object
 12  BirthPlace_City        2165 non-null   object
 13  BirthPlace_Canton      2087 non-null   object
 14  Mandates               1882 non-null   object
 15  DateJoining            6430 non-null   object
 16  DateLeaving            6174 non-null   object
 17  Citizenship            6423 non-null   object
 18  DateOfBirth            6430 non-null   object
 19  DateOfDeath            4270 non-null   object
dtypes: bool(1), object(19)
memory usage: 960.9+ KB

In [218]:
# count missing values in each column
df_rat.isnull().sum()

Active                      0
FirstName                   0
LastName                    0
GenderAsString              0
CantonName                  2
CantonAbbreviation          2
CouncilName                 5
ParlGroupName            1478
ParlGroupAbbreviation    1478
PartyName                  78
PartyAbbreviation          80
MaritalStatusText        6190
BirthPlace_City          4265
BirthPlace_Canton        4343
Mandates                 4548
DateJoining                 0
DateLeaving               256
Citizenship                 7
DateOfBirth                 0
DateOfDeath              2160
dtype: int64

In [219]:
# change data type of columns DateJoining, DateLeaving, DateOfBirth and DateOfDeath to datetime
df_rat['DateJoining'] = pd.to_datetime(df_rat['DateJoining'])
df_rat['DateLeaving'] = pd.to_datetime(df_rat['DateLeaving'])
df_rat['DateOfBirth'] = pd.to_datetime(df_rat['DateOfBirth'])
df_rat['DateOfDeath'] = pd.to_datetime(df_rat['DateOfDeath'])

In [220]:
# change data type of column 'GenderAsString', "CantonName", "CantonAbbreviation", "CouncilName", "ParlGroupName", "ParlGroupAbbreviation", "PartyName", "PartyAbbreviation" to categorical datatype
df_rat[['GenderAsString', "CantonName", "CantonAbbreviation", "CouncilName", "ParlGroupName", "ParlGroupAbbreviation", "PartyName", "PartyAbbreviation"]] = df_rat[['GenderAsString', "CantonName", "CantonAbbreviation", "CouncilName", "ParlGroupName", "ParlGroupAbbreviation", "PartyName", "PartyAbbreviation"]].astype('category')
#df_rat['CantonName'] = df_rat['CantonName'].astype('category')

In [221]:
df_rat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6430 entries, 0 to 6429
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Active                 6430 non-null   bool
 1   FirstName              6430 non-null   object
 2   LastName               6430 non-null   object
 3   GenderAsString         6430 non-null   category
 4   CantonName             6428 non-null   category
 5   CantonAbbreviation     6428 non-null   category
 6   CouncilName            6425 non-null   category
 7   ParlGroupName          4952 non-null   category
 8   ParlGroupAbbreviation  4952 non-null   category
 9   PartyName              6352 non-null   category
 10  PartyAbbreviation      6350 non-null   category
 11  MaritalStatusText      240 non-null    object
 12  BirthPlace_City        2165 non-null   object
 13  BirthPlace_Canton      2087 non-null   object
 14  Mandates               1882 non-null   object
 15  DateJoining            6430 non-null   datetime64[ns]
 16  DateLeaving            6174 non-null   datetime64[ns]
 17  Citizenship            6423 non-null   object
 18  DateOfBirth            6430 non-null   datetime64[ns]
 19  DateOfDeath            4270 non-null   datetime64[ns]
dtypes: bool(1), category(8), datetime64[ns](4), object(7)
memory usage: 620.1+ KB

In [222]:
# show all different unique values of each column
df_rat.nunique()

Active                      2
FirstName                1340
LastName                 2298
GenderAsString              2
CantonName                 26
CantonAbbreviation         26
CouncilName                 3
ParlGroupName              44
ParlGroupAbbreviation      35
PartyName                  84
PartyAbbreviation          82
MaritalStatusText           4
BirthPlace_City           340
BirthPlace_Canton          26
Mandates                  704
DateJoining               992
DateLeaving              1487
Citizenship              2001
DateOfBirth              3510
DateOfDeath              2671
dtype: int64

# 5. Duplikate droppen

In [223]:
# find all duplicate rows
df_rat.duplicated().sum()

732

In [224]:
# drop all duplicate rows
df_rat.drop_duplicates(inplace=True)

# 2. Gleiche vor und Nachnamen

In [225]:
# subset with columns "FirstName", "LastName", "GenderAsString", "CantonName", "Citizenship", "DateOfBirth", "DateOfDeath"
df_rat_name = df_rat[["FirstName", "LastName"]]

In [226]:
# find all unique values of each column
df_rat_name.duplicated().sum()

2103

In [227]:
df_rat.PartyAbbreviation.unique()

['Kons*', 'FDP', 'FDP-Liberale', 'Lib*', 'SP', ..., 'csp-ow', 'VKons(BE)*', 'Dem->Freis', 'Kons->Lib', 'AJU (BE)*']
Length: 83
Categories (82, object): ['-', '?', 'AJU (BE)*', 'AVL (SG)', ..., 'Vig./GE', 'Zent (BS)*', 'csp-ow', 'glp']

In [228]:
df_rat[df_rat["PartyAbbreviation"] == "?"]

,Active,FirstName,LastName,GenderAsString,CantonName,CantonAbbreviation,CouncilName,ParlGroupName,ParlGroupAbbreviation,PartyName,PartyAbbreviation,MaritalStatusText,BirthPlace_City,BirthPlace_Canton,Mandates,DateJoining,DateLeaving,Citizenship,DateOfBirth,DateOfDeath
2224,False,Charles-Amédée,Girod,m,Genf,GE,Ständerat,Unbekannt,?,Undefinierbar,?,NaN,NaN,NaN,NaN,1872-01-11,1872-01-12,Genf (GE),1835-01-01,1905-01-01
3072,False,Johann Karl,Kappeler,m,Thurgau,TG,Ständerat,Mitte,MC,Undefinierbar,?,NaN,NaN,NaN,NaN,1848-06-11,1881-04-12,Frauenfeld (TG),1816-03-23,1888-10-20
3107,False,Jakob,Kellenberger,m,Appenzell A.-Rh.,AR,Nationalrat,Fraktionslos,-,Undefinierbar,?,NaN,NaN,NaN,NaN,1853-04-07,1857-06-12,Walzenhausen (AR),1793-07-29,1873-10-20
3225,False,Karl Gustav,König,m,Bern,BE,Ständerat,Fraktionslos,-,Undefinierbar,?,NaN,NaN,NaN,NaN,1867-01-03,1868-01-11,Bern (BE),1828-12-19,1892-05-23
4732,False,Arnold,Roth,m,Appenzell A.-Rh.,AR,Ständerat,Mitte,MC,Undefinierbar,?,NaN,NaN,NaN,NaN,1871-03-07,1876-01-12,Teufen (AR),1836-01-24,1904-07-04
5700,False,Titus,Tobler,m,Appenzell A.-Rh.,AR,Nationalrat,Unbekannt,?,Undefinierbar,?,NaN,NaN,NaN,NaN,1854-09-01,1857-06-12,Wolfhalden (AR),1806-06-25,1877-01-21
5951,False,Nazar,von Reding,m,Schwyz,SZ,Ständerat,Mitte,MC,Undefinierbar,?,NaN,NaN,NaN,NaN,1853-04-07,1854-03-12,Schwyz (SZ),1806-06-30,1865-12-28

In [229]:
# Change values in ParlGroupName == Unbekannt or Fraktionslos zu np.nan
df_rat["ParlGroupName"].replace(["Unbekannt", "Fraktionslos"], np.nan, inplace=True)
df_rat["ParlGroupAbbreviation"].replace(["?", "-"], np.nan, inplace=True)

# 1. Fehlende Werte

In [230]:
df_rat.isna().sum()

Active                      0
FirstName                   0
LastName                    0
GenderAsString              0
CantonName                  2
CantonAbbreviation          2
CouncilName                 5
ParlGroupName            1359
ParlGroupAbbreviation    1359
PartyName                  56
PartyAbbreviation          58
MaritalStatusText        5460
BirthPlace_City          3674
BirthPlace_Canton        3745
Mandates                 3947
DateJoining                 0
DateLeaving               254
Citizenship                 7
DateOfBirth                 0
DateOfDeath              2038
dtype: int64

In [231]:
df_rat.isna().mean()

Active                   0.000000
FirstName                0.000000
LastName                 0.000000
GenderAsString           0.000000
CantonName               0.000351
CantonAbbreviation       0.000351
CouncilName              0.000878
ParlGroupName            0.238505
ParlGroupAbbreviation    0.238505
PartyName                0.009828
PartyAbbreviation        0.010179
MaritalStatusText        0.958231
BirthPlace_City          0.644788
BirthPlace_Canton        0.657248
Mandates                 0.692699
DateJoining              0.000000
DateLeaving              0.044577
Citizenship              0.001229
DateOfBirth              0.000000
DateOfDeath              0.357669
dtype: float64

In [232]:
# show all rows where PartyAbbreviation is nan and PartyName is not nan
df_rat[df_rat["PartyAbbreviation"].isna() & ~df_rat["PartyName"].isna()]

,Active,FirstName,LastName,GenderAsString,CantonName,CantonAbbreviation,CouncilName,ParlGroupName,ParlGroupAbbreviation,PartyName,PartyAbbreviation,MaritalStatusText,BirthPlace_City,BirthPlace_Canton,Mandates,DateJoining,DateLeaving,Citizenship,DateOfBirth,DateOfDeath
2641,False,Jean-Jacques,Hegg,m,Zürich,ZH,Nationalrat,Fraktion der Nationalen Aktion,N,Nationale Aktion,NaN,NaN,NaN,NaN,NaN,1983-11-28,1985-01-02,Dübendorf (ZH),1930-10-11,2021-03-24
5449,False,Hans,Steffen,m,Zürich,ZH,Nationalrat,Fraktion der Schweizer Demokraten und der Lega...,D,Nationale Aktion,NaN,NaN,Zürich,Zürich,Gemeinderat von 1964 bis 1973,1985-04-02,1995-03-12,"Zürich (ZH),Kloten (ZH),Fischenthal (ZH)",1931-09-29,NaT

In [233]:
# In column PartyAbbreviation insert new category "NA"
df_rat["PartyAbbreviation"] = df_rat["PartyAbbreviation"].cat.add_categories("NA")

In [234]:
# Show all rows where PartyName == Nationale Aktion
df_rat["PartyAbbreviation"][2641] = "NA"
df_rat["PartyAbbreviation"][5449] = "NA"

# 7. Personen die Aktiv sind jedoch Austritt oder umgekehrt

In [235]:
# Check if DateLeaving is nan and Active is False
df_rat[df_rat["DateLeaving"].isna() & ~df_rat["Active"].values].shape

(3, 20)

In [236]:
# Check if DateLeaving is not nan and Active is True$
df_rat[~df_rat["DateLeaving"].isna() & df_rat["Active"].values].shape

(22, 20)

# 4. Grösse der Stände

In [237]:
df_aktiv = df_rat[["Active", "FirstName", "LastName", "CouncilName"]]

In [238]:
df_aktiv = df_aktiv[df_aktiv["Active"] == True]

In [239]:
# check in df_aktiv if there are duplicated rows in columns "FirstName", "LastName"
df_aktiv_unique = df_aktiv.drop_duplicates(subset=["FirstName", "LastName", "CouncilName"])

In [240]:
len(df_aktiv_unique)

253

In [241]:
df_aktiv_unique[df_aktiv_unique["CouncilName"].isna()]

      Active FirstName   LastName CouncilName
5692    True    Walter  Thurnherr         NaN

In [242]:
df_aktiv_unique.isna().sum()

Active         0
FirstName      0
LastName       0
CouncilName    1
dtype: int64

In [243]:
# group by CouncilName and count the number of rows
df_rat_council = df_aktiv_unique.groupby("CouncilName").count()

In [244]:
df_rat_council

             Active  FirstName  LastName
CouncilName
Bundesrat         7          7         7
Nationalrat     200        200       200
Ständerat        45         45        45

# 2.2 Fragestellungen

## Wer war wann bis wann in welchem Rat?

In [245]:
df_rat_pivot_council_joining = df_rat.pivot_table(index=["FirstName", "LastName"], columns="CouncilName", values="DateJoining", aggfunc=min)
df_rat_pivot_council_leaving = df_rat.pivot_table(index=["FirstName", "LastName"], columns="CouncilName", values="DateLeaving", aggfunc=max)
# merge the two pivot tables
df_rat_pivot_council = pd.merge(df_rat_pivot_council_joining, df_rat_pivot_council_leaving, left_index=True, right_index=True)
print(df_rat_pivot_council)

CouncilName              Bundesrat_x Nationalrat_x Ständerat_x Bundesrat_y  \
FirstName      LastName
A. Domenico    Galli             NaT           NaT  1851-07-07         NaT
A. Eduard      Fehr              NaT    1920-02-02         NaT         NaT
A. Frédéric E. Soguel            NaT    1902-01-12  1875-07-06         NaT
A. Giovanni    Jauch             NaT    1848-06-11  1874-05-28         NaT
A. Otto        Aepli             NaT           NaT  1919-01-27         NaT
...                              ...           ...         ...         ...
Yvette         Estermann         NaT    2007-03-12         NaT         NaT
Yvonne         Feri              NaT    2011-05-12         NaT         NaT
               Gilli             NaT    2007-03-12         NaT         NaT
Zacharias      Gysel             NaT           NaT  1848-06-11         NaT
Zélim          Perret            NaT    1869-06-12         NaT         NaT

CouncilName              Nationalrat_y Ständerat_y
FirstName      LastName
A. Domenico    Galli               NaT  1851-01-10
A. Eduard      Fehr         1922-03-12         NaT
A. Frédéric E. Soguel       1903-11-21  1876-01-07
A. Giovanni    Jauch        1873-01-03  1875-01-03
A. Otto        Aepli               NaT  1921-04-11
...                                ...         ...
Yvette         Estermann    2019-01-12         NaT
Yvonne         Feri         2019-01-12         NaT
               Gilli        2015-11-29         NaT
Zacharias      Gysel               NaT  1857-01-07
Zélim          Perret       1875-05-12         NaT

[3508 rows x 6 columns]

In [246]:
# subset with columns "FirstName", "LastName", "CouncilName"
df_rat_council = df_rat[["Active", "FirstName", "LastName", "CouncilName"]]

In [247]:
df_rat_council = df_rat_council[df_rat_council["Active"] == False]

In [248]:
# group by CouncilName and count the number of rows
df_rat_council = df_rat_council.groupby("CouncilName").count()

In [249]:
df_rat_council

             Active  FirstName  LastName
CouncilName
Bundesrat       327        327       327
Nationalrat    3970       3970      3970
Ständerat      1124       1124      1124

In [250]:
# new dataframe with columns "FirstName", "LastName", "Nationalrat"["DateJoining", "DateLeaving"], "Ständerat"["DateJoining", "DateLeaving"], "Bundesrat"["DateJoining", "DateLeaving"]
df_rat_name_join = df_rat[["FirstName", "LastName", "CouncilName", "DateJoining", "DateLeaving"]]

In [251]:
# three new data frames
df_rat_bundesrat = df_rat_name_join[df_rat_name_join["CouncilName"] == "Bundesrat"]
df_rat_staederrat = df_rat_name_join[df_rat_name_join["CouncilName"] == "Ständerat"]
df_rat_nationalrat = df_rat_name_join[df_rat_name_join["CouncilName"] == "Nationalrat"]

In [252]:
df_rat_bundesrat

          FirstName         LastName CouncilName DateJoining DateLeaving
23          Gustave             Ador   Bundesrat  1917-06-26  1919-12-31
28          Gustave             Ador   Bundesrat  1919-01-01  1919-12-31
122           Viola           Amherd   Bundesrat  2019-01-01         NaT
158   Jos. Fridolin        Anderwert   Bundesrat  1875-10-12  1880-12-25
196          Pierre           Aubert   Bundesrat  1983-01-01  1983-12-31
...             ...              ...         ...         ...         ...
6204        Eveline  Widmer-Schlumpf   Bundesrat  2012-01-01  2012-12-31
6205        Eveline  Widmer-Schlumpf   Bundesrat  2013-01-01  2015-12-31
6335         Joseph             Zemp   Bundesrat  1902-01-01  1902-12-31
6336         Joseph             Zemp   Bundesrat  1891-12-17  1908-06-17
6338         Joseph             Zemp   Bundesrat  1895-01-01  1895-12-31

[354 rows x 5 columns]

In [253]:
df_rat_bundesrat.rename(columns={"DateJoining": "B_DateJoining", "DateLeaving": "B_DateLeaving"}, inplace=True)
df_rat_nationalrat.rename(columns={"DateJoining": "N_DateJoining", "DateLeaving": "N_DateLeaving"}, inplace=True)
df_rat_staederrat.rename(columns={"DateJoining": "S_DateJoining", "DateLeaving": "S_DateLeaving"}, inplace=True)

/Users/janisfrolich/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [254]:
df_rat_bundesrat = df_rat_bundesrat.groupby(["LastName", "FirstName"], as_index=False).agg({"B_DateJoining": "min", "B_DateLeaving": "max"})
df_rat_nationalrat = df_rat_nationalrat.groupby(["LastName", "FirstName"], as_index=False).agg({"N_DateJoining": "min", "N_DateLeaving": "max"})
df_rat_staederrat = df_rat_staederrat.groupby(["LastName", "FirstName"], as_index=False).agg({"S_DateJoining": "min", "S_DateLeaving": "max"})

In [255]:
df_rat_bundesrat

            LastName      FirstName B_DateJoining B_DateLeaving
0               Ador        Gustave    1917-06-26    1919-12-31
1             Amherd          Viola    2019-01-01           NaT
2          Anderwert  Jos. Fridolin    1875-10-12    1880-12-25
3             Aubert         Pierre    1977-07-12    1987-12-31
4            Baumann       Johannes    1934-03-22    1940-12-31
..               ...            ...           ...           ...
114           Wetter          Ernst    1938-12-15    1943-12-31
115  Widmer-Schlumpf        Eveline    2008-01-01    2015-12-31
116             Zemp         Joseph    1891-12-17    1908-06-17
117         von Moos         Ludwig    1959-12-17    1971-12-31
118      von Steiger         Eduard    1940-10-12    1951-12-31

[119 rows x 4 columns]

In [256]:
# merge all data frames by "LastName" and "FirstName"
df_rat_merge = pd.merge(df_rat_bundesrat, df_rat_nationalrat, on=["LastName", "FirstName"], how="outer")

In [257]:
df_rat_merge = pd.merge(df_rat_merge, df_rat_staederrat, on=["LastName", "FirstName"], how="outer")

In [258]:
df_rat_merge

,LastName,FirstName,B_DateJoining,B_DateLeaving,N_DateJoining,N_DateLeaving,S_DateJoining,S_DateLeaving
0,Ador,Gustave,1917-06-26,1919-12-31,1889-03-25,1917-01-06,1878-02-12,1880-01-09
1,Amherd,Viola,2019-01-01,NaT,2005-05-31,2018-12-31,NaT,NaT
2,Anderwert,Jos. Fridolin,1875-10-12,1880-12-25,1863-07-12,1874-01-10,NaT,NaT
3,Aubert,Pierre,1977-07-12,1987-12-31,NaT,NaT,1971-11-29,1977-07-12
4,Baumann,Johannes,1934-03-22,1940-12-31,NaT,NaT,1911-04-12,1934-03-22
...,...,...,...,...,...,...,...,...
3585,von Schorno,Karl,NaT,NaT,NaT,NaT,1848-06-11,1852-01-11
3586,von Schumacher,Edmund,NaT,NaT,NaT,NaT,1895-02-12,1908-08-30
3587,von Steiger,Adolf A. A.,NaT,NaT,NaT,NaT,1908-09-28,1918-01-06
3588,von Tschudi,Nikl. Friedrich,NaT,NaT,NaT,NaT,1877-03-12,1885-01-11
3589,von Ziegler,Hans,NaT,NaT,NaT,NaT,1859-04-07,1865-01-06

# Anzahl der Dienstjahre ohne Unterbrechungen

In [259]:
# calculate the number of years without interruption between the dates "DateJoining" and "DateLeaving"
df_rat_bundesrat["Years"] = (df_rat_bundesrat["B_DateLeaving"] - df_rat_bundesrat["B_DateJoining"]).dt.days / 365
df_rat_nationalrat["Years"] = (df_rat_nationalrat["N_DateLeaving"] - df_rat_nationalrat["N_DateJoining"]).dt.days / 365
df_rat_staederrat["Years"] = (df_rat_staederrat["S_DateLeaving"] - df_rat_staederrat["S_DateJoining"]).dt.days / 365

In [260]:
df_rat_bundesrat_longest = df_rat_bundesrat.groupby(["LastName", "FirstName"], as_index=False).agg({"Years": "max"})
df_rat_nationalrat_longest = df_rat_nationalrat.groupby(["LastName", "FirstName"], as_index=False).agg({"Years": "max"})
df_rat_staederrat_longest = df_rat_staederrat.groupby(["LastName", "FirstName"], as_index=False).agg({"Years": "max"})

In [261]:
df_rat_bundesrat_longest

            LastName      FirstName      Years
0               Ador        Gustave   2.515068
1             Amherd          Viola        NaN
2          Anderwert  Jos. Fridolin   5.208219
3             Aubert         Pierre  10.476712
4            Baumann       Johannes   6.783562
..               ...            ...        ...
114           Wetter          Ernst   5.046575
115  Widmer-Schlumpf        Eveline   8.002740
116             Zemp         Joseph  16.509589
117         von Moos         Ludwig  12.046575
118      von Steiger         Eduard  11.224658

[119 rows x 3 columns]

In [262]:
df_rat_staederrat_longest

         LastName        FirstName      Years
0           Abate            Fabio   7.676712
1       Ackermann           Walter  27.934247
2            Ador          Gustave   1.906849
3            Aeby           Pierre   4.084932
4           Aepli          A. Otto   2.205479
..            ...              ...        ...
894  von Sprecher   Johann Andreas   7.271233
895   von Steiger      Adolf A. A.   9.279452
896    von Streng   Johann Baptist   1.569863
897   von Tschudi  Nikl. Friedrich   7.841096
898   von Ziegler             Hans   5.756164

[899 rows x 3 columns]

In [263]:
df_rat_nationalrat_longest

           LastName        FirstName      Years
0          Ab Yberg            Alois   6.841096
1             Abate            Fabio  10.550685
2             Abegg           Alfred   8.797260
3             Abegg     Johann Jakob  24.783562
4               Abt         H. Roman  23.249315
...             ...              ...        ...
2999  von Wattenwyl             Jean   1.331507
3000      von Weber             Karl  18.167123
3001      von Werdt  Friedrich K. G.   9.169863
3002     von der Aa           Albert   3.189041
3003   von der Weid           Alfred  17.764384

[3004 rows x 3 columns]

In [264]:
df_rat_bundesrat_longest = pd.merge(df_rat_bundesrat_longest, df_rat_bundesrat, on=["LastName", "FirstName", "Years"], how="outer")
df_rat_staederrat_longest = pd.merge(df_rat_staederrat_longest, df_rat_staederrat, on=["LastName", "FirstName", "Years"], how="outer")
df_rat_nationalrat_longest = pd.merge(df_rat_nationalrat_longest, df_rat_nationalrat, on=["LastName", "FirstName", "Years"], how="outer")

In [265]:
df_rat_bundesrat_longest.rename(columns={"Years_y": "Years"}, inplace=True)
df_rat_nationalrat_longest.rename(columns={"Years_y": "Years"}, inplace=True)
df_rat_staederrat_longest.rename(columns={"Years_y": "Years"}, inplace=True)

In [266]:
df_rat_nationalrat_longest.sort_values(by=["Years"], ascending=False)

             LastName   FirstName      Years N_DateJoining N_DateLeaving
2761            Weber        Hans  99.857534    1872-02-12    1971-11-28
2495          Steiner       Jakob  84.969863    1854-04-12    1939-03-12
295           Borella     Achille  78.679452    1893-04-12    1971-11-28
1551      Leuenberger       Jakob  76.479452    1855-01-06    1931-06-12
2015            Polar    Giovanni  68.882192    1866-03-12    1935-01-12
...               ...         ...        ...           ...           ...
2836    Wismer-Felder      Priska        NaN    2019-02-12           NaT
2855             Wyss       Sarah        NaN    2020-12-18           NaT
2940    de Montmollin      Simone        NaN    2019-02-12           NaT
2943       de Quattro  Jacqueline        NaN    2019-02-12           NaT
2967  von Falkenstein    Patricia        NaN    2021-11-29           NaT

[3004 rows x 5 columns]

In [267]:
df_rat_staederrat_longest.sort_values(by=["Years"], ascending=False)

           LastName FirstName      Years S_DateJoining S_DateLeaving
534          Muheim     Franz  75.783562    1912-03-06    1987-11-29
535          Muheim    Gustav  74.523288    1877-04-06    1951-09-27
537          Muheim      Karl  60.947945    1866-02-07    1927-01-05
340      Hildebrand     Josef  47.550685    1886-07-06    1934-01-12
374           Isler   P. Emil  42.994521    1890-01-12    1932-12-31
..              ...       ...        ...           ...           ...
732           Stark     Jakob        NaN    2019-02-12           NaT
764  Thorens Goumaz     Adèle        NaN    2019-02-12           NaT
782            Vara    Céline        NaN    2019-02-12           NaT
834       Z'graggen     Heidi        NaN    2019-02-12           NaT
851           Zopfi   Mathias        NaN    2019-02-12           NaT

[899 rows x 5 columns]

In [268]:
df_rat_bundesrat_longest.sort_values(by=["Years"], ascending=False)

          LastName         FirstName      Years B_DateJoining B_DateLeaving
95          Schenk              Karl  31.619178    1863-12-12    1895-07-18
30         Deucher       Adolf K. W.  29.194521    1883-10-04    1912-12-07
74           Motta          Giuseppe  28.128767    1911-12-14    1940-01-23
79            Näff  Wilhelm Matthias  27.139726    1848-11-16    1875-12-31
37           Etter           Philipp  25.778082    1934-03-28    1959-12-31
..             ...               ...        ...           ...           ...
45       Friedrich            Rudolf   2.191781    1982-08-12    1984-10-20
112          Weber               Max   2.136986    1951-12-13    1954-01-31
84         Perrier       F. F. Louis   0.449315    1912-12-03    1913-05-16
1           Amherd             Viola        NaN    2019-01-01           NaT
60   Keller-Sutter             Karin        NaN    2019-01-01           NaT

[119 rows x 5 columns]

# Wer kam direkt in den Bundesrat?

In [269]:
df_rat_merge

,LastName,FirstName,B_DateJoining,B_DateLeaving,N_DateJoining,N_DateLeaving,S_DateJoining,S_DateLeaving
0,Ador,Gustave,1917-06-26,1919-12-31,1889-03-25,1917-01-06,1878-02-12,1880-01-09
1,Amherd,Viola,2019-01-01,NaT,2005-05-31,2018-12-31,NaT,NaT
2,Anderwert,Jos. Fridolin,1875-10-12,1880-12-25,1863-07-12,1874-01-10,NaT,NaT
3,Aubert,Pierre,1977-07-12,1987-12-31,NaT,NaT,1971-11-29,1977-07-12
4,Baumann,Johannes,1934-03-22,1940-12-31,NaT,NaT,1911-04-12,1934-03-22
...,...,...,...,...,...,...,...,...
3585,von Schorno,Karl,NaT,NaT,NaT,NaT,1848-06-11,1852-01-11
3586,von Schumacher,Edmund,NaT,NaT,NaT,NaT,1895-02-12,1908-08-30
3587,von Steiger,Adolf A. A.,NaT,NaT,NaT,NaT,1908-09-28,1918-01-06
3588,von Tschudi,Nikl. Friedrich,NaT,NaT,NaT,NaT,1877-03-12,1885-01-11
3589,von Ziegler,Hans,NaT,NaT,NaT,NaT,1859-04-07,1865-01-06

In [270]:
# df_rat_direct all persons where N_DateJoining, N_DateLeaving, S_DateJoining, S_DateLeaving is NaT and B_DateJoining, B_DateLeavining is not NaT
df_rat_direct = df_rat_merge[(df_rat_merge["N_DateJoining"].isnull()) & (df_rat_merge["N_DateLeaving"].isnull()) & (df_rat_merge["S_DateJoining"].isnull()) & (df_rat_merge["S_DateLeaving"].isnull()) & (~df_rat_merge["B_DateJoining"].isnull())]

In [271]:
df_rat_direct.drop(["N_DateJoining", "N_DateLeaving", "S_DateJoining", "S_DateLeaving"], axis=1, inplace=True)

/Users/janisfrolich/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [272]:
df_rat_direct

            LastName     FirstName B_DateJoining B_DateLeaving
12           Brugger         Ernst    1969-10-12    1978-01-31
14         Calmy-Rey     Micheline    2003-01-01    2011-12-31
31          Dreifuss          Ruth    1993-01-04    2002-12-31
33             Druey  Daniel-Henri    1848-11-16    1855-03-29
50              Haab        Robert    1917-12-13    1929-12-31
66            Lepori      Giuseppe    1954-12-16    1959-12-31
71    Metzler-Arnold          Ruth    1999-01-04    2003-12-31
89          Rubattel      Rodolphe    1947-11-12    1954-12-31
94         Schaffner          Hans    1961-06-15    1970-01-31
107          Streuli          Hans    1953-12-22    1959-12-31
115  Widmer-Schlumpf       Eveline    2008-01-01    2015-12-31
118      von Steiger        Eduard    1940-10-12    1951-12-31

# Parteistärke per 1. January per Council (Nicht fertig)

In [334]:
df_rat

,Active,FirstName,LastName,GenderAsString,CantonName,CantonAbbreviation,CouncilName,ParlGroupName,ParlGroupAbbreviation,PartyName,PartyAbbreviation,MaritalStatusText,BirthPlace_City,BirthPlace_Canton,Mandates,DateJoining,DateLeaving,Citizenship,DateOfBirth,DateOfDeath
0,False,Giuseppe,a Marca,m,Graubünden,GR,Ständerat,Mitte,MC,Konservative,Kons*,NaN,NaN,NaN,NaN,1849-01-12,1851-01-07,Soazza (GR),1799-07-29,1866-07-16
1,False,Alois,Ab Yberg,m,Schwyz,SZ,Nationalrat,Radikal-demokratische Fraktion,R,Freisinnig-Demokratische Partei der Schweiz,FDP,NaN,NaN,NaN,NaN,1928-03-12,1935-01-12,Schwyz (SZ),1878-06-10,1959-10-17
2,False,Fabio,Abate,m,Tessin,TI,Nationalrat,Freisinnig-demokratische Fraktion,RL,Freisinnig-Demokratische Partei der Schweiz,FDP,NaN,Locarno,Tessin,incarichi esecutivi presso il comune di Locarn...,2007-03-12,2011-04-12,Cabbio (TI),1966-04-01,NaT
3,False,Fabio,Abate,m,Tessin,TI,Nationalrat,Freisinnig-demokratische Fraktion,R,Freisinnig-Demokratische Partei der Schweiz,FDP,NaN,Locarno,Tessin,incarichi esecutivi presso il comune di Locarn...,2000-09-25,2003-11-30,Cabbio (TI),1966-04-01,NaT
4,False,Fabio,Abate,m,Tessin,TI,Ständerat,FDP-Liberale Fraktion,RL,FDP.Die Liberalen,FDP-Liberale,NaN,Locarno,Tessin,incarichi esecutivi presso il comune di Locarn...,2011-05-12,2015-11-29,Cabbio (TI),1966-04-01,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6422,False,Walter,Zwingli,m,St. Gallen,SG,Nationalrat,Freisinnig-demokratische Fraktion,R,Freisinnig-Demokratische Partei der Schweiz,FDP,NaN,NaN,NaN,NaN,1984-05-06,1991-11-24,Nesslau (SG),1925-09-28,2018-10-07
6423,False,Otto,Zwygart,m,Bern,BE,Nationalrat,LdU/EVP-Fraktion,U,Evangelische Volkspartei der Schweiz,EVP,NaN,Schliern,Bern,Grosser Gemeinderat Bolligen von 1970 bis 1974...,1995-04-12,2000-09-18,"Bolligen (BE),Meikirch (BE)",1940-01-16,NaT
6425,False,Otto (senior),Zwygart,m,Bern,BE,Nationalrat,Demokratische und Evangelische Fraktion,DE,Evangelische Volkspartei der Schweiz,EVP,NaN,NaN,NaN,NaN,1971-01-06,1983-11-27,Meikirch (BE),1911-05-30,1986-05-04
6426,False,Otto,Zwygart,m,Bern,BE,Nationalrat,LdU/EVP-Fraktion,U,Evangelische Volkspartei der Schweiz,EVP,NaN,Schliern,Bern,Grosser Gemeinderat Bolligen von 1970 bis 1974...,1983-11-28,1995-03-12,"Bolligen (BE),Meikirch (BE)",1940-01-16,NaT
6427,False,Carl Sam.,Zyro,m,Bern,BE,Nationalrat,Linke,LG,Freisinnig-Demokratische Partei der Schweiz,FDP,NaN,NaN,NaN,NaN,1866-03-12,1893-03-12,Thun (BE),1834-07-17,1896-08-26

In [335]:
# three subset of each council
df_rat_short = df_rat.drop(columns=["Active", "GenderAsString", "CantonName", "CantonAbbreviation", "ParlGroupName", "PartyName", "MaritalStatusText", "MaritalStatusText", "BirthPlace_City", "BirthPlace_Canton", "Mandates", "Citizenship", "DateOfBirth", "DateOfDeath"])

df_rat_bundesrat = df_rat_short[df_rat_short["CouncilName"] == "Bundesrat"]
df_rat_nationalrat = df_rat_short[df_rat_short["CouncilName"] == "Nationalrat"]
df_rat_staenderat = df_rat_short[df_rat_short["CouncilName"] == "Ständerat"]

In [336]:
# show only date of datejoining without the year
df_rat_bundesrat["DateJoining_day_month"] = df_rat_bundesrat["DateJoining"].dt.strftime("%d.%m.")
df_rat_bundesrat["DateLeaving_day_month"] = df_rat_bundesrat["DateLeaving"].dt.strftime("%d.%m.")
# show only year of datejoining without the date
df_rat_bundesrat["DateJoining_year"] = df_rat_bundesrat["DateJoining"].dt.strftime("%Y")
df_rat_bundesrat["DateLeaving_year"] = df_rat_bundesrat["DateLeaving"].dt.strftime("%Y")

#drop all nan rows in column DateJoining_year and DateLeaving_year
df_rat_bundesrat.dropna(subset=["DateJoining_year", "DateLeaving_year"], inplace=True)

# change datatype of DateJoining_year and DateLeaving_year to int
df_rat_bundesrat["DateJoining_year"] = df_rat_bundesrat["DateJoining_year"].astype(float)
df_rat_bundesrat["DateLeaving_year"] = df_rat_bundesrat["DateLeaving_year"].astype(float)

/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/2684306579.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_bundesrat["DateJoining_day_month"] = df_rat_bundesrat["DateJoining"].dt.strftime("%d.%m.")
/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/2684306579.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_bundesrat["DateLeaving_day_month"] = df_rat_bundesrat["DateLeaving"].dt.strftime("%d.%m.")
/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/2684306579.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_bundesrat["DateJoining_year"] = df_rat_bundesrat["DateJoining"].dt.strftime("%Y")
/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/2684306579.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_bundesrat["DateLeaving_year"] = df_rat_bundesrat["DateLeaving"].dt.strftime("%Y")
/Users/janisfrolich/opt/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/2684306579.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_bundesrat["DateJoining_year"] = df_rat_bundesrat["DateJoining_year"].astype(float)
/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/2684306579.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_bundesrat["DateLeaving_year"] = df_rat_bundesrat["DateLeaving_year"].astype(float)

In [337]:
# new column range of years with start year and end year in a list like this [start year, end year]
for i in df_rat_bundesrat.index:
    if df_rat_bundesrat["DateJoining_day_month"][i] != '01.01':
        df_rat_bundesrat["DateJoining_year"][i] += 1
    if df_rat_bundesrat["DateLeaving_day_month"][i] != '01.01':
        df_rat_bundesrat["DateLeaving_year"][i] += 1

df_rat_bundesrat.drop(columns=["DateJoining_day_month", "DateLeaving_day_month", "DateJoining", "DateLeaving"], inplace=True)

/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/1315009235.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_bundesrat["DateJoining_year"][i] += 1
/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/1315009235.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_bundesrat["DateLeaving_year"][i] += 1
/Users/janisfrolich/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [338]:
# show only date of datejoining without the year
df_rat_nationalrat["DateJoining_day_month"] = df_rat_nationalrat["DateJoining"].dt.strftime("%d.%m.")
df_rat_nationalrat["DateLeaving_day_month"] = df_rat_nationalrat["DateLeaving"].dt.strftime("%d.%m.")
# show only year of datejoining without the date
df_rat_nationalrat["DateJoining_year"] = df_rat_nationalrat["DateJoining"].dt.strftime("%Y")
df_rat_nationalrat["DateLeaving_year"] = df_rat_nationalrat["DateLeaving"].dt.strftime("%Y")

#drop all nan rows in column DateJoining_year and DateLeaving_year
df_rat_nationalrat.dropna(subset=["DateJoining_year", "DateLeaving_year"], inplace=True)

# change datatype of DateJoining_year and DateLeaving_year to int
df_rat_nationalrat["DateJoining_year"] = df_rat_nationalrat["DateJoining_year"].astype(int)
df_rat_nationalrat["DateLeaving_year"] = df_rat_nationalrat["DateLeaving_year"].astype(int)

/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/2765569170.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_nationalrat["DateJoining_day_month"] = df_rat_nationalrat["DateJoining"].dt.strftime("%d.%m.")
/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/2765569170.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_nationalrat["DateLeaving_day_month"] = df_rat_nationalrat["DateLeaving"].dt.strftime("%d.%m.")
/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/2765569170.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_nationalrat["DateJoining_year"] = df_rat_nationalrat["DateJoining"].dt.strftime("%Y")
/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/2765569170.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_nationalrat["DateLeaving_year"] = df_rat_nationalrat["DateLeaving"].dt.strftime("%Y")
/Users/janisfrolich/opt/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/2765569170.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_nationalrat["DateJoining_year"] = df_rat_nationalrat["DateJoining_year"].astype(int)
/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/2765569170.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_nationalrat["DateLeaving_year"] = df_rat_nationalrat["DateLeaving_year"].astype(int)

In [339]:
# new column range of years with start year and end year in a list like this [start year, end year]
for i in df_rat_nationalrat.index:
    if df_rat_nationalrat["DateJoining_day_month"][i] != '01.01':
        df_rat_nationalrat["DateJoining_year"][i] += 1
    if df_rat_nationalrat["DateLeaving_day_month"][i] != '01.01':
        df_rat_nationalrat["DateLeaving_year"][i] += 1

df_rat_nationalrat.drop(columns=["DateJoining_day_month", "DateLeaving_day_month", "DateJoining", "DateLeaving"], inplace=True)

/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/116725646.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_nationalrat["DateJoining_year"][i] += 1
/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/116725646.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_nationalrat["DateLeaving_year"][i] += 1
/Users/janisfrolich/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [340]:
# show only date of datejoining without the year
df_rat_staenderat["DateJoining_day_month"] = df_rat_staenderat["DateJoining"].dt.strftime("%d.%m.")
df_rat_staenderat["DateLeaving_day_month"] = df_rat_staenderat["DateLeaving"].dt.strftime("%d.%m.")
# show only year of datejoining without the date
df_rat_staenderat["DateJoining_year"] = df_rat_staenderat["DateJoining"].dt.strftime("%Y")
df_rat_staenderat["DateLeaving_year"] = df_rat_staenderat["DateLeaving"].dt.strftime("%Y")

#drop all nan rows in column DateJoining_year and DateLeaving_year
df_rat_staenderat.dropna(subset=["DateJoining_year", "DateLeaving_year"], inplace=True)


# change datatype of DateJoining_year and DateLeaving_year to int
df_rat_staenderat["DateJoining_year"] = df_rat_staenderat["DateJoining_year"].astype(float)
df_rat_staenderat["DateLeaving_year"] = df_rat_staenderat["DateLeaving_year"].astype(float)

/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/1377821751.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_staenderat["DateJoining_day_month"] = df_rat_staenderat["DateJoining"].dt.strftime("%d.%m.")
/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/1377821751.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_staenderat["DateLeaving_day_month"] = df_rat_staenderat["DateLeaving"].dt.strftime("%d.%m.")
/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/1377821751.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_staenderat["DateJoining_year"] = df_rat_staenderat["DateJoining"].dt.strftime("%Y")
/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/1377821751.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_staenderat["DateLeaving_year"] = df_rat_staenderat["DateLeaving"].dt.strftime("%Y")
/Users/janisfrolich/opt/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/1377821751.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_staenderat["DateJoining_year"] = df_rat_staenderat["DateJoining_year"].astype(float)
/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/1377821751.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_staenderat["DateLeaving_year"] = df_rat_staenderat["DateLeaving_year"].astype(float)

In [341]:
# new column range of years with start year and end year in a list like this [start year, end year]
for i in df_rat_staenderat.index:
    if df_rat_staenderat["DateJoining_day_month"][i] != '01.01':
        df_rat_staenderat["DateJoining_year"][i] += 1
    if df_rat_staenderat["DateLeaving_day_month"][i] != '01.01':
        df_rat_staenderat["DateLeaving_year"][i] += 1

df_rat_staenderat.drop(columns=["DateJoining_day_month", "DateLeaving_day_month", "DateJoining", "DateLeaving"], inplace=True)

/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/2249764887.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_staenderat["DateJoining_year"][i] += 1
/var/folders/f0/pqy2clvx0nv38xm_npv8fklm0000gn/T/ipykernel_5045/2249764887.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_staenderat["DateLeaving_year"][i] += 1
/Users/janisfrolich/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

# Zauberformel

In [ ]:
df_rat_bundesrat

# Frauenquote

In [ ]:
df_rat